<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1>Santa no sabe donde vives</h1>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">
		<p>Para llegar a tu casa Santa necesita saber donde queda, pero no tienes puesta una provincia en tu perfil. Haz click en tu provinca y le diremos a Santa. Con esta acci&oacute;n tu perfil ser&aacute; actualizado.</p>
		<ul>
			<% for(var i=0; i< list.length; i++) { var item = list[i]; %>
			<li><a href="#!" onclick="apretaste.send({command: 'SANTA <%= item %>'});"><%= item %></a></li>
			<% } %>
		</ul>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large green" onclick="apretaste.send({command: 'SANTA'});">
		<i class="large material-icons">refresh</i>
	</a>
</div>

