<div class="row">
	<div class="col s12 speech-bubble-wrapper">
		<div class="speech-bubble">
			<div class="arrow"></div>
			Para llegar llevarte un regalo primero necesito saber donde vives, pero no has agregado una provincia a tu perfil. Escoge tu provinca y actualiza tu perfil.
		</div>
		<div class="santa-avatar circle" style="background-image:url('{{APP_SERVICE_PATH}}/images/santa.png');"></div>
	</div>

	<div class="col s12">
		<div class="checks province" limit="1">
			<span onclick="setProvince('PINAR_DEL_RIO')" class="check chip spacing">Pinar del Río</span>
			<span onclick="setProvince('LA_HABANA')" class="check chip spacing">La Habana</span>
			<span onclick="setProvince('ARTEMISA')" class="check chip spacing">Artemisa</span>
			<span onclick="setProvince('MAYABEQUE')" class="check chip spacing">Mayabeque</span>
			<span onclick="setProvince('MATANZAS')" class="check chip spacing">Matanzas</span>
			<span onclick="setProvince('VILLA_CLARA')" class="check chip spacing">Villa Clara</span>
			<span onclick="setProvince('CIENFUEGOS')" class="check chip spacing">Cienfuegos</span>
			<span onclick="setProvince('SANCTI_SPIRITUS')" class="check chip spacing">Sancti Spiritus</span>
			<span onclick="setProvince('CIEGO_DE_AVILA')" class="check chip spacing">Ciego de Ávila</span>
			<span onclick="setProvince('CAMAGUEY')" class="check chip spacing">Camagüey</span>
			<span onclick="setProvince('LAS_TUNAS')" class="check chip spacing">Las Tunas</span>
			<span onclick="setProvince('HOLGUIN')" class="check chip spacing">Holguín</span>
			<span onclick="setProvince('GRANMA')" class="check chip spacing">Granma</span>
			<span onclick="setProvince('SANTIAGO_DE_CUBA')" class="check chip spacing">Santiago de Cuba</span>
			<span onclick="setProvince('GUANTANAMO')" class="check chip spacing">Guantánamo</span>
			<span onclick="setProvince('ISLA_DE_LA_JUVENTUD')" class="check chip spacing">Isla de la Juventud</span>
		</div>
	</div>
</div>
