<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command:'SANTA'})">Santa</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'SANTA ARBOL'})">Arbolito</a></li>
			<li class="tab"><a href="#" class="active">Reglas</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<ul class="collection number-list">
			<li class="collection-item avatar">
				<i class="number circle">1</i>
				<p class="green-text">¿Qué es la Navidad?</p>
				<p>Navidad significa nacimiento, y da nombre a la fiesta con motivo de la llegada de Jesucristo a nuestro mundo. Se celebra con reuniones, cenas y regalos familiares cada 25 de diciembre. Es el momento para recordar y vivir el Amor entre todos, expresado en cada regalo entregado.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">2</i>
				<p class="green-text">¿Quienes son Santa Claus y los Elfos?</p>
				<p>Según la tradición, Santa Claus vive en el Polo Norte, y reparte el amor navideño trayendo regalos a todos los que se hallan portado bien. Estos regalos son fabricados por Elfos en la fábrica de Santa, quien los sale a repartir por todo el mundo en la víspera de Navidad, montado en su trineo de alces voladores. Como has usado Apretaste, Santa sabe que te has portado bien este año, asi que mereces un regalo.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">3</i>
				<p class="green-text">¿Cuándo cae el día de Navidad?</p>
				<p>El día oficial de la Navidad es el 25 de diciembre. Ese día se deben abrir los regalos de Navidad, cenar con la familia y cantar villancicos. Santa pasará repartiendo regalos en la víspera, el día 24 de diciembre para que esté debajo de tu arbolito en Navidad.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">4</i>
				<p class="green-text">¿Qué son los diez días de Navidad?</p>
				<p>En muchos hogares, durante los 10 días previos a la navidad las familias dejan pequeños regalos debajo del arbolito. Durantes estas fechas, un elfo te traerá regalos cada día. Visita el arbolito diaramente ya que tus regalos no se acumularán, y si no los recoges, los pederás.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">5</i>
				<p class="green-text">¿Hasta cuando Santa te regala?</p>
				<p>Santa saldrá de su casa en el Polo Norte en la mañana del día 24 de diciembre, y empezará a repartir regalos por todo el mundo. Puedes ver dónde se encuentra Santa visitando el tab "Santa" en dicha fecha. Cuando Santa llegue a tu provincia, te dejará un regalo debajo del arbolito. Este regalo estará disponible hasta final de año y quienes no lo hallan recogido lo perderán.</p>
			</li>
		</ul>
	</div>
</div>
